.card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: var(--text-inverse);
  border: none;
  border-radius: 0.4rem;
  width: 17.5rem;
  height: 100%;
  padding: 0.8rem;
}

.balance {
  background-image: linear-gradient(
    165deg,
    var(--accent-purple-1),
    var(--accent-purple-2)
  );
}

.expenses {
  background-image: linear-gradient(
    145deg,
    var(--accent-red-1),
    var(--accent-red-2)
  );
}

.safe {
  background-image: linear-gradient(
    145deg,
    var(--accent-blue-1),
    var(--accent-blue-2)
  );
}

.performance {
  background-image: linear-gradient(
    145deg,
    var(--accent-orange-1),
    var(--accent-orange-2)
  );
}
